.cartridge {
  width: 260px;
  height: 290px;
  margin: 0 auto;
  padding: 0 0 0 20px;
  background-image: "cartridge-background@2x.png";
  background-size: 50% 50%;
}
.gameimage {
  width: 176px;
  height: 175px;
  margin-top: 1px;
}
.gameinfobar {
  margin: 0 auto;
  height: 176px;
  padding-top: 15px;
  text-align: center;
}
p.gameyear {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -1px;
  color: #cccccc;
  margin-bottom: 10px;
}
img.gameplatformicon {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}
div.gameplaybutton {
  border-radius: 4px;
  margin-top: 20px;
}
div.gameplaybutton p {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  opacity: .4;
  text-align: center;
}
div.gameplaybutton .green {
  background: #5ad856;
}
div.gameplaybutton .yellow {
  background: #d8d856;
}
div.gameplaybutton .red {
  background: #d86556;
}
div.gameplaybutton .gray {
  background: #d8d8d8;
}
div.gameinfobutton {
  border-radius: 4px;
  font-family: "georgia";
  font-style: italic;
  font-size: 25px;
  color: #b3b3b3;
  text-align: center;
}
